DerivePointerAlignment: false
PointerAlignment: Left

UseTab: ForIndentation
TabWidth: 4
IndentWidth: 4
ColumnLimit: 180

BreakBeforeBraces: Allman
Cpp11BracedListStyle: false

# space
SpaceBeforeCpp11BracedList: true
SpaceBeforeCtorInitializerColon: true
SpacesInAngles: false

AllowShortFunctionsOnASingleLine: None

MacroBlockBegin: "R3DENGINE_ .+"

Standard: c++17
